.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
  background-color: #eceff1;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}